<!--The whole content below can be removed with the new code.-->
<md-toolbar color="primary">
  <span>MyCompany</span>
  <span class="example-spacer"></span>
  <!---->
 
  <button md-button [mdMenuTriggerFor]='appMenu'> <i class="material-icons">more_vert</i>Menu</button>
</md-toolbar>

<md-menu #appMenu='mdMenu'>
  <button md-menu-item>Settings</button>
  <button md-menu-item>Help</button>
</md-menu>

<!--Card images-->
<md-card 
    *ngFor='let image of (imagesAarray ? imagesAarray.slice(0,10): []); let i = index'
    class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{image.title}}</md-card-title>
</md-card-header>

  <img class="example-image" md-card-image src="{{image.url}}">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
