/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    padding: 2em 23em;
    background: #ddd;
}
.example-spacer {
    flex: 1 1 auto;
}
.example-card {
  /*width: 400px;*/
}
.example-image{
   display: inline-block;
}

.example-header-image {
  width: 400px;
  background-size: cover;
}